   @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

   body {
       font-family: 'EB Garamond', serif;
       overflow: hidden;
       /* background: linear-gradient(90deg,#f5abab , transparent)  #feecec; */
       background: linear-gradient(90deg, rgb(239, 215, 215), transparent) #e0c1c1;
   }

   .container {
       display: flex;
       align-items: center;
       justify-content: center;
       min-height: 100vh;
   }

   .screen {
       background: linear-gradient(90deg, #f18e8e, #f2bebe);
       position: relative;
       height: 500px;
       width: 400px;
       box-shadow: 0px 0px 24px #f2bebe;
   }

   .screen__content {
       z-index: 1;
       position: relative;
       height: 100%;
   }

   .screen__background {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       z-index: 0;
       -webkit-clip-path: inset(0 0 0 0);
       clip-path: inset(0 0 0 0);
   }

   .screen__background__shape {
       transform: rotate(45deg);
       position: absolute;
   }

   .screen__background__shape1 {
       height: 520px;
       width: 520px;
       background: #FFF;
       top: -50px;
       right: 120px;
       border-radius: 0 72px 0 0;
   }

   .screen__background__shape2 {
       height: 220px;
       width: 220px;
       background: #f57777;
       top: -172px;
       right: 0;
       border-radius: 32px;
   }

   .screen__background__shape3 {
       height: 540px;
       width: 190px;
       background: linear-gradient(270deg, #f1b2b2, #f58989);
       top: -24px;
       right: 0;
       border-radius: 32px;
   }

   .screen__background__shape4 {
       height: 400px;
       width: 200px;
       background: #f57777;
       top: 420px;
       right: 50px;
       border-radius: 60px;
   }

   .login {
       width: 320px;
       padding: 30px;
       padding-top: 156px;
       margin-top: -130px;
   }

   .login__field {
       padding: 20px 0px;
       position: relative;
   }

   .login__icon {
       position: absolute;
       top: 30px;
       color: #f57777;
   }

   .login__input {
       border: none;
       border-bottom: 2px solid #f57777;
       background: none;
       padding: 10px;
       padding-left: 24px;
       font-weight: 700;
       width: 75%;
       transition: .2s;
   }

   .login__input:active,
   .login__input:focus,
   .login__input:hover {
       outline: none;
       border-bottom-color: #f57777;
   }

   .login__submit {
       background: #fff;
       font-size: 14px;
       margin-top: 30px;
       padding: 16px 20px;
       border-radius: 26px;
       border: 1px solid #ebebf7;
       text-transform: uppercase;
       font-weight: 700;
       display: flex;
       align-items: center;
       width: 100%;
       color: #f57777;
       box-shadow: 0px 2px 2px #f29f9f;
       cursor: pointer;
       transition: .2s;
   }

   .login__submit:active,
   .login__submit:focus,
   .login__submit:hover {
       border-color: #f57777;
       outline: none;
   }

   .button__icon {
       font-size: 24px;
       margin-left: auto;
       color: #f57777;
   }

   img {
       width: 150px;
       margin-top: 60px;
       margin-left: 60px;
       border: 2px solid #f57777;
       border-radius: 4px;
       padding: 10px;
   }
