
        /* .popup4 { */
            /* display: none; */
            /* position: fixed;
            padding: 20px;
            width: 700px;
            height: 450px;
            left: 50%;
            margin-left: -350px;
            top: 30%;
            margin-top: -50px;
            background: #FFF;
            z-index: 20;
            align-items: center;
            justify-content: center;
        }

        #popup4:after {
            position: fixed;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,0.5);
            z-index: -2;
        }
        #popup4:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background:var(--light);
            z-index: -1;
        } */
        /* #popup1:after {
            position: fixed;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,0.5);

            z-index: -2;
        }
        #popup1:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background:var(--light);
            z-index: -1;
        }
        #popup2:after {
            position: fixed;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,0.5);

            z-index: -2;
        }
        #popup2:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background:var(--light);
            z-index: -1;
        } */






