@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import "/path/to/bootstrap/less/variables";
@import "/path/to/bootstrap-datetimepicker/src/less/bootstrap-datetimepicker-build.less";
html {
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Mulish", sans-serif;
    background: rgb(236, 236, 239);
}
a {
    text-decoration: none;
    color: black;
}
.box {
    width: 100%;
    padding: 1%;
    display: flex;
    margin: 10px 0;
    align-content: center;
    justify-content: space-evenly;
}
.box1 {
    display: flex;
    width: 30%;
    height: 100px;
    border-radius: 4px;
    box-shadow: 0px 11px 35px 2px rgba(22, 22, 22, 0.14);
}
.boxContainer {
    width: 100%;
    height: 100%;
    display: flex;
}
.boxContainerValue {
    width: 49%;
    display: flex;
    padding: 2%;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.boxContainerValue h2 {
    margin-top: 35%;
    display: flex;
    justify-content: end;
}
#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#div-1 {
    width: 15%;
    background: rgb(242, 241, 255);
}
#div-2 {
    width: 85%;
    position: relative;
}
#message {
    position: fixed;
    top: 70px;
    right: 10px;
    animation-duration: 1s;
    z-index: 1;
}
#headers {
    width: 100%;
    height: 6vh;
    display: flex;
    padding: 1vh 0 0 2vh;
    align-content: center;
    justify-content: start;
    background: rgb(242, 241, 255);
}
#mainContainer {
    position: relative;
    width: 100%;
    padding: 2%;
    height: 94%;
    overflow: scroll;
}
#tabContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
}
#dashboardContainer {
    width: 100%;
    height: 100%;
}
.icon-name {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex: 1;
}
.nav_name {
    flex: 2;
    display: block;
}

#img-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
#img-logo {
    width: 60%;
    border: 2px solid rgba(187, 17, 56, 255);
    border-radius: 4px;
    padding: 10px;
}
#img-logo1 {
    width: 80%;
    border-radius: 50%;
    margin-right: -155px;
    margin-top: -10px;
}
.nav_list {
    width: 96%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 14px;
    font-family: inherit;
    color: #bf0e3a;
    text-decoration: none;
    transition: 0.3s;
}

.nav_list:hover {
    width: 96%;
    border-radius: 10px;
    box-shadow: 2px 5px 3px 0px #9d9a9a;
    background: #bb2f52;
    color: white;
}

.nav_icon {
    font-size: 14px;
}
.userContainer {
    width: 100%;
    height: 100%;
    position: relative;
}
.table-data {
    width: 100%;
    height: 90%;
    border-radius: 8px;
    background: rgb(242, 241, 255);
    padding: 24px;
    overflow: scroll;
}
#table-data {
    margin-top: 3%;
}

#sam,
#inspectionFrom,
#incidentFrom,
#sam1,
#updatePopup1,
#updatePopup2,
#updatePopup3,
#updatePopup4,
#updatePopup5 {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(107, 107, 107, 0.5);
    position: absolute;
    align-items: center;
    display: none;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
}
#updatePopup {
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
}
.updatePopup {
    border-radius: 10px;
    padding: 4%;
    width: 70%;
    height: 70%;
    overflow: scroll;
    background: rgb(230, 230, 236);
}
.updateassignPopup {
    padding: 4%;
    width: 60%;
    border-radius: 10px;
    height: 90%;
    overflow: scroll;
    background: rgb(230, 230, 236);
}
.userPopUp {
    border-radius: 10px;
    padding: 4%;
    width: 70%;
    height: 80%;
    overflow: scroll;
    background: rgb(230, 230, 236);
}
.userPopUp1 {
    border-radius: 10px;
    padding: 4%;
    width: 70%;
    height: 80%;
    overflow: scroll;
    background: rgb(230, 230, 236);
}
.vehiclePopUp,
.vehiclePopUp1 {
    border-radius: 10px;
    padding: 4%;
    width: 60%;
    height: 80%;
    /* overflow: scroll; */
    background: rgb(230, 230, 236);
}
#inspectionFromPopUp {
    padding: 2%;
    width: 90%;
    height: 95%;
    overflow: scroll;
    background: rgb(230, 230, 236);
}
#incidentFromPopUp {
    border-radius: 10px;
    padding: 2%;
    width: 60%;
    height: 85%;
    overflow: scroll;
    background: rgb(230, 230, 236);
}
#inspectionFrom table td input {
    background: rgb(230, 230, 236);
}
#userHeading {
    width: 100%;
    margin-top: -1%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.head {
    display: flex;
}
.head h3 {
    margin-right: auto;
    font-weight: 600;
    color: #bf0e3a;
}
.order table {
    width: 100%;
    margin-top: 2%;
}
table th {
    padding-bottom: 12px;
    font-size: 14px;
    color: #bf0e3a;
}
.order table td {
    font-size: 14px;
    padding: 16px 0;
    text-align: center;
}
.table_row {
    font-size: 14px;
}
.table_row:hover {
    background: white;
}
.table_row:hover .table_data {
    color: black;
}
h5 {
    color: #bf0e3a;
}
#add {
    background: #bf0e3a;
    border-radius: 5px;
    border: 1px solid rgb(148, 35, 35);
    color: #fff;
    /* font-weight: bold; */
    font-size: 13px;
    cursor: pointer;
    top: -5px;
    height: 30px;
    position: relative;
    width: 90px;
}
.usercount {
    margin-left: 15px;
    padding: 10px;
}

.close {
    margin-left: 600px;
    margin-bottom: 10%;
}

.form-group {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.report1 {
    display: flex;
}

.report {
    width: 40%;
}

.subreport {
    margin-left: 20px;
    width: 50%;
}

.button {
    display: flex;
}
.divClose {
    display: flex;
    align-items: end;
    justify-content: end;
}
.vehicle {
    margin-left: 10px;
    height: 400px;
    width: 500px;
}
.vehicle label {
    color: #bf0e3a;
}
.tablinks {
    flex: 1;
    padding-top: 10px;
    margin: 4px;
    border: 1px solid #bf0e3a;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: 0.6s;
}

button.active {
    background: #bf0e3a;
    color: white;
}
.active .nav_list {
    width: 96%;
    color: white;
    border-radius: 10px;
    background: #bf0e3a;
}
li {
    text-decoration: none;
    list-style: none;
}
.pagination {
    float: right;
    margin-top: 10px;
}
form {
    margin-left: 50px;
}

.page {
    margin-left: 500px;
}

.select {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.print {
    float: right;
    margin-top: 20px;
    padding: 30px;
}
.incident label {
    color: #bf0e3a;
}
#filterDiv {
    width: 100%;
    margin-top: -50px;
    padding: 10px 5px;
    display: flex;
    align-content: center;
    justify-content: start;
}
#filter {
    margin-right: 1%;
    margin-left: -5%;
}

#dataNotFound {
    width: 100%;
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #583740;
    background-color: #dedbdbab;
}

span {
    margin: 5px;
}

/* media query */

@media only screen and (max-width: 800px) {
    body {
        background-color: lightblue;
    }
    #div-1 {
        width: 15%;
        background: rgb(242, 241, 255);
    }
    #div-2 {
        width: 85%;
        position: relative;
    }

    .nav_list {
        width: 96%;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px;
        font-size: 10px;
        font-family: inherit;
        color: #bf0e3a;
        text-decoration: none;
        transition: 0.3s;
    }
    .nav_icon {
        font-size: 6px;
    }
}
