@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

html {
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    font-family: "Mulish", sans-serif;
    background: rgb(236, 236, 239);
}
a {
    text-decoration: none;
}
#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#div-1 {
    width: 15%;
    height: 200;
    background: rgb(242, 241, 255);
}
#div-2 {
    width: 85%;
    height: 200;
    position: relative;
}
#message {
    position: fixed;
    top: 70px;
    right: 10px;
    animation-duration: 1s;
}
#headers {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: rgb(242, 241, 255);
}
.icon-name {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex: 1;
}
.nav_name {
    flex: 2;
    display: block;
}
.header_toggle {
    color: black;
    font-size: 17px;
    cursor: pointer;
}
#img-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-logo {
    width: 80%;
    border: 2px solid rgba(187, 17, 56, 255);
    border-radius: 4px;
    padding: 10px;
}
#img-logo1 {
    width: 80%;
    border-radius: 50%;
    margin-right: -155px;
    margin-top: -10px;
}
.nav_list {
    width: 96%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 14px;
    font-family: inherit;
    color: #bf0e3a;
    text-decoration: none;
    transition: 0.3s;
}

.nav_list:hover {
    width: 96%;
    color: #2d0404;
    border-radius: 10px;
    box-shadow: 2px 5px 3px 0px #9d9a9a;
    background: #bf0e3a;
    color: white;
}

.nav_icon {
    font-size: 14px;
}
main {
    position: relative;
    width: 95%;
    left: 40px;
    overflow: scroll;
}
.table-data {
    margin-top: 10%;
    border-radius: 8px;
    background: rgb(242, 241, 255);
    padding: 24px;
    overflow-x: auto;
}

.head {
    display: flex;
}
.head h3 {
    margin-right: auto;
    font-weight: 600;
    color: #bf0e3a;
}
.order table {
    width: 100%;
    margin-top: 2%;
}
table th {
    padding-bottom: 12px;
    font-size: 14px;
    color: #bf0e3a;
}
.order table td {
    font-size: 14px;
    padding: 16px 0;
}
.table_row {
    font-size: 14px;
}
.table_row:hover {
    background: white;
}
.table_row:hover .table_data {
    color: black;
}
h5 {
    color: #bf0e3a;
}
#add {
    background: #bf0e3a;
    border-radius: 5px;
    border: 1px solid rgb(148, 35, 35);
    color: #fff;
    /* font-weight: bold; */
    font-size: 13px;
    cursor: pointer;
    top: -5px;
    height: 30px;
    position: relative;
    width: 90px;
}

.main {
    height: 80%;
    overflow: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

form {
    margin-left: 50px;
}
.form .form-control {
    background: #f9f9f9;
}
.table-data1 {
    position: relative;
    color: #bf0e3a;
    margin-top: 50px;
    margin-left: 120px;
    width: 220px;
    height: 90px;
    border-radius: 8px;
    background: #f9f9f9;
}

.table-data2 {
    padding: 15px;
    background: #f9f9f9;
    overflow-x: auto;
}
.usercount {
    margin-left: 15px;
    padding: 10px;
}

.close {
    margin-left: 600px;
    margin-bottom: 10%;
}

.open-button {
    padding: 13px 10px;
    cursor: pointer;
    position: fixed;
    right: 28px;
}

.form-popup {
    display: none;
    position: fixed;
    padding: 10px;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    right: 45px;
    background: #f9f9f9;
    border-radius: 4px;
    z-index: 9;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.report1 {
    display: flex;
}

.report {
    width: 40%;
}

.subreport {
    margin-left: 20px;
    width: 50%;
}
.button {
    margin-top: 25px;
}
#Visual {
    margin-top: -70px;
}
#Vehicle {
    margin-top: -70px;
}

#Cabin {
    overflow: scroll;
    height: 75%;
    left: 120px;
    margin-top: -70px;
}

#Cabin::-webkit-scrollbar {
    display: none;
}
.vehicle {
    margin-left: 10px;
    height: 400px;
    width: 500px;
}
.tablinks {
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: 0.6s;
}
.tab_active {
    background: linear-gradient(90deg, #fba6a6, transparent) #df9d9d;
    color: white;
}

button.active {
    background: linear-gradient(90deg, #fba6a6, transparent) #df9d9d;
    color: white;
}

form {
    margin-left: 50px;
}

.page {
    margin-left: 500px;
}

.select {
    display: flex;
    margin-left: 20px;
}
.print {
    float: right;
    margin-right: 130px;
    margin-top: 10px;
}
.main2 {
    margin-top: 20px;
    margin-left: 100px;
    height: 80%;
    width: 80%;
    overflow: scroll;
}
.main2::-webkit-scrollbar {
    display: none;
}

.popup1 {
    display: none;
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 450px;
    left: 50%;
    margin-left: -350px;
    top: 30%;
    margin-top: -50px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

#popup1:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#popup1:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}

.popup2 {
    display: none;
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 450px;
    left: 50%;
    margin-left: -350px;
    top: 30%;
    margin-top: -50px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}
#popup2:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    z-index: -2;
}

#popup2:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}
.popup3 {
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 450px;
    left: 50%;
    margin-left: -350px;
    top: 30%;
    margin-top: -50px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

#popup3:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    z-index: -2;
}

#popup3:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}
.popup4 {
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 450px;
    left: 50%;
    margin-left: -350px;
    top: 30%;
    margin-top: -50px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

#popup4:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}
#popup4:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}
.popreport {
    display: none;
    position: fixed;
    padding: 10px;
    width: 700px;
    height: 680px;
    left: 50%;
    margin-left: -350px;
    top: 20%;
    margin-top: -80px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}
#popreport:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    z-index: -2;
}

#popreport:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}

.popup5 {
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 550px;
    left: 50%;
    margin-left: -350px;
    top: 30%;
    margin-top: -50px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

#popup5:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    z-index: -2;
}

#popup5:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}
.popup6 {
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 550px;
    left: 50%;
    margin-left: -350px;
    top: 30%;
    margin-top: -50px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

#popup6:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    z-index: -2;
}

#popup6:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}
.popup7 {
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 550px;
    left: 50%;
    margin-left: -350px;
    top: 30%;
    margin-top: -50px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

#popup7:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    z-index: -2;
}

#popup7:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}
.popup7 {
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 550px;
    left: 50%;
    margin-left: -350px;
    top: 30%;
    margin-top: -50px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

#popup7:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    z-index: -2;
}

#popup7:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}
.popup8 {
    display: none;
    position: fixed;
    padding: 20px;
    width: 1250px;
    height: 730px;
    left: 50%;
    margin-left: -630px;
    top: 10%;
    margin-top: -50px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#popup8:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    z-index: -2;
}

#popup8:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}
.popup9 {
    position: fixed;
    padding: 20px;
    width: 700px;
    height: 600px;
    left: 50%;
    margin-left: -350px;
    font-size: 14px;
    margin-top: 80px;
    background: #fff;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

#popup9:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    z-index: -2;
}

#popup9:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 7px;
}
